@font-face {
    font-family: 'Poetsen One';
    src: url('/fonts/PoetsenOne-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
}

:root{
    font-family: 'Poetsen One';
    font-weight: 400;
}

body{
    background-image: url(/imgs/skybg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100dvh;

    /* Grid Layout */
    display: grid;
    grid-template-rows: auto 1fr auto;
}

